<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="utf-8">
    <title th:replace="${title}">Loja de Móveis</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css" />
</head>
<body>
    <nav class="navbar is-light mb-4" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a th:href="@{/}" class="navbar-item">
                    Loja de Móveis
                </a>
            </div>
            <div
                th:switch="${#authorization.expression('isAuthenticated()')}"
                class="navbar-end"
            >
                <div 
                    th:case="true"
                    class="navbar-item has-dropdown is-hoverable"
                >
                    <a class="navbar-link">
                        <span sec:authentication="name"></span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a href="#" class="navbar-item">
                            Carrinho de compras
                        </a>
                        <a class="navbar-item">
                            Histórico de compras
                        </a>
                        <hr class="dropdown-divider">
                        <a class="navbar-item" onclick="document.forms.logoutForm.submit()">
                            Finalizar sessão
                        </a>
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                        </form>
                    </div>
                </div>
                <a
                    th:case="*"
                    class="navbar-item"
                    th:href="@{/login}"
                >
                    Login
                </a>
            </div>
        </div>
    </nav>

    <main th:replace="${content}">
        <p>Conteúdo</p>
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a sec:authorize="isAuthenticated()" th:href="@{/internal/}">Painel de funcionários</a>
            </p>
            <p>
                &copy; 2021 Loja de móveis
            </p>
        </div>
    </footer>
</body>
</html>
