<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="utf-8">
    <title th:replace="${title}">Loja de Móveis</title>
    <link rel="stylesheet" type="text/css" href="/styles/app.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="/scripts/locale/pt-br.js"></script>
    <script type="javascript">
        moment.locale('pt-br')
    </script>
</head>
<body>
    <nav class="navbar is-light mb-4" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a th:href="@{/}" class="navbar-item">
                    Loja de Móveis
                </a>
            </div>
            <div class="navbar-end">
                <div 
                    sec:authorize="isAuthenticated()" 
                    class="navbar-item has-dropdown is-hoverable"
                >
                    <a class="navbar-link">
                        <span sec:authentication="name"></span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a href="#" class="navbar-item">
                            Minha conta
                        </a>
                        <hr class="dropdown-divider">
                        <a class="navbar-item" onclick="document.forms.logoutForm.submit()">
                            Finalizar sessão
                        </a>
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column is-one-quarter-tablet is-one-fifth-desktop ml-4">
            <aside class="menu">
                <p class="menu-label">Geral</p>
                <ul class="menu-list">
                    <li><a th:href="@{/internal}">Painel de funcionários</a></li>
                </ul>
                <p class="menu-label">Administração</p>
                <ul class="menu-list">
                    <li><a th:href="@{/internal/employee}">Funcionários</a></li>
                    <li><a th:href="@{/internal/dashboard}">Estatísticas</a></li>
                </ul>
                <p class="menu-label">Produtos</p>
                <ul class="menu-list">
                    <li><a th:href="@{/internal/product}">Lista de produtos</a></li>
                    <li><a th:href="@{/internal/purchases}">Registro de vendas</a></li>
                    <li><a href="#">Registro de estoque</a></li>
                    <li><a href="#">Montagens agendadas</a></li>
                </ul>
            </aside>
        </div>
        
        <div class="column mx-4">
            <main th:replace="${content}">
                <p>Layout contents</p>
            </main>
        </div>
    </div>
        
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a sec:authorize="isAuthenticated()" th:href="@{/internal/}">Painel de funcionários</a>
            </p>
            <p>
                &copy; 2021 Loja de móveis
            </p>
        </div>
    </footer>
</body>
</html>
