<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/internal :: layout(~{::title}, ~{::main})"
>
<head>
    <title>Lista de produtos</title>
</head>
<body>
    <main>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a th:href="@{/internal}">Painel de funcionários</a></li>
                <li class="is-active">
                    <a th:href="@{/internal/product}">Lista de produtos</a>
                </li>
            </ul>
        </nav>
        <h1 class="title">
            Lista de produtos
        </h1>
        <div class="buttons">
            <a class="button is-link" th:href="@{/internal/product/add}">
                Adicionar novo produto
            </a>
        </div>
        <div th:switch="${page.getContent().isEmpty()}">
            <h2 th:case="true">Ainda nenhum produto!</h2>
            <div th:case="false">
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Ambiente</th>
                        <th>Fabricante</th>
                        <th>Modelo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${page.getContent()}">
                        <td th:text="${product.id}"></td>
                        <td>
                            <a th:href="@{/internal/product/{id}(id=${product.id})}" th:text="${product.name}"></a>
                        </td>
                        <td th:text="${product.value}"></td>
                        <td th:text="${product.environment}"></td>
                        <td th:text="${product.manufacturer}"></td>
                        <td th:text="${product.model}"></td>
                    </tr>
                    </tbody>
                </table>
                <!-- Paginação -->
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <th:block th:switch="${page.getPageable().getPageNumber()}">
                        <a th:case="0" class="pagination-previous" title="Essa é a primeira página" disabled>
                            Anterior
                        </a>
                        <a th:case="*" th:href="@{/internal/product(p=${page.getPageable().getPageNumber() - 1})}" class="pagination-previous">
                            Anterior
                        </a>
                    </th:block>
                    <th:block th:switch="${page.getPageable().getPageNumber()}">
                        <a th:case="${page.getTotalPages() - 1}" class="pagination-previous" title="Essa é a última página" disabled>
                            Próxima
                        </a>
                        <a th:case="*" th:href="@{/internal/product(p=${page.getPageable().getPageNumber() + 1})}" class="pagination-next">
                            Próxima
                        </a>
                    </th:block>
                    <div class="pagination-list">
                        <p>
                            <span class="tag is-medium">
                                <th:block>Página</th:block>
                                <th:block th:text="${page.getPageable().getPageNumber() + 1}"></th:block>
                                <th:block>/</th:block>
                                <th:block th:text="${page.getTotalPages()}"></th:block>
                            </span>
                            <span class="tag is-medium">
                                <th:block th:text="${page.getContent().size()}"></th:block>
                                de
                                <th:block th:text="${page.getTotalElements()}"></th:block>
                                elementos
                            </span>
                        </p>
                    </div>
                </nav>
            </div>
        </div>
    </main>
</body>
</html>
