<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/internal :: layout(~{::title}, ~{::main})"
>
<head>
    <title th:text="*{product.name}"></title>
</head>
<body>
    <main>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a th:href="@{/internal}">Funcionários</a></li>
              <li><a th:href="@{/internal/product}">Produtos</a></li>
                <li class="is-active">
                    <a th:href="@{/internal/product/add}" aria-current="page" th:text="*{product.name}"></a>
                </li>
            </ul>
        </nav>
        <h1 class="title" th:text="*{product.name}"></h1>
    </main>
</body>
</html>
