<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/internal :: layout(~{::title}, ~{::main})"
>
<head>
    <title>Solicitações de estoque</title>
</head>
<body>
<main>

    <h1 class="title">
        Solicitações de estoque
    </h1>
    <div class="buttons">
        <a class="button is-link" th:href="@{/internal/stock/request/add}">
            Adicionar nova solicitação de estoque
        </a>
    </div>

    <div th:switch="${page.getContent().isEmpty()}">
        <h2 th:case="true">Ainda nenhuma solicitação!</h2>
        <div th:case="false">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Data</th>
                        <th>Quantidade</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="stock : ${page.getContent()}">
                        <div th:switch="${#strings.toString(stock.status)}">
                            <td th:case="'CANCELLED'" th:text="${stock.id}"></td>
                            <td th:case="'FINISHED'"  th:text="${stock.id}"></td>
                            <td th:case="*">
                                <a th:href="@{/internal/stock/request/{id}(id=${stock.id})}" th:text="${stock.id}"></a>
                            </td>
                        </div>

                        <td th:text="${stock.product.name}"></td>
                        <td th:text="${#dates.format(stock.dateRequest, 'dd MMM yyyy')}"></td>
                        <td th:text="${stock.amount}"></td>
                        <div th:switch="${#strings.toString(stock.status)}">
                            <td th:case="'CANCELLED'">Cancelado</td>
                            <td th:case="'FINISHED'">Finalizado</td>
                            <td th:case="'WAITING'">Esperando</td>
                            <td th:case="'FORWARDED'">Encaminhado</td>
                            <td th:case="*">O</td>
                        </div>
                    </tr>
                </tbody>
            </table>
            <nav th:replace="fragments/paging :: paginator"></nav>
        </div>
    </div>

</main>
</body>
</html>