<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/internal :: layout(~{::title}, ~{::main})"
>
<head>
    <title>Painel de funcionários</title>
</head>
<body>
    <main>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active">
                    <a th:href="@{/internal}">Painel de funcionários</a>
                </li>
            </ul>
        </nav>
        <h1 class="title">
            Painel de funcionários
        </h1>
    </main>
</body>
</html>
