<nav th:fragment="paginator" class="pagination" role="navigation" aria-label="pagination">
  <th:block th:switch="${page.getPageable().getPageNumber()}">
      <a th:case="0" class="pagination-previous" title="Essa é a primeira página" disabled>
          Anterior
      </a>
      <a th:case="*" th:href="@{|?p=${page.getPageable().getPageNumber() - 1}|}" class="pagination-previous">
          Anterior
      </a>
  </th:block>
  <th:block th:switch="${page.getPageable().getPageNumber()}">
      <a th:case="${page.getTotalPages() - 1}" class="pagination-previous" title="Essa é a última página" disabled>
          Próxima
      </a>
      <a th:case="*" th:href="@{|?p=${page.getPageable().getPageNumber() + 1}|}" class="pagination-next">
          Próxima
      </a>
  </th:block>
  <div class="pagination-list">
      <p>
          <span class="tag is-medium">
              <th:block>Página</th:block>
              <th:block th:text="${page.getPageable().getPageNumber() + 1}"></th:block>
              <th:block>/</th:block>
              <th:block th:text="${page.getTotalPages()}"></th:block>
          </span>
          <span class="tag is-medium">
              <th:block th:text="${page.getContent().size()}"></th:block>
              de
              <th:block th:text="${page.getTotalElements()}"></th:block>
              elementos
          </span>
      </p>
  </div>
</nav>