<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/default :: layout(~{::title}, ~{::main})"
>
<head>
    <title>Login</title>
</head>
<body>
    <main class="content">
        <div class="container is-max-desktop">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Login
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <form th:action="@{/login}" method="post">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                            <div class="field">
                                <label for="fieldEmail" class="label">Login (e-mail or credential)</label>
                                <div class="control">
                                    <input id="fieldEmail" class="input" name="username" type="text" autofocus>
                                </div>
                            </div>

                            <div class="field">
                                <label for="fieldPassword" class="label">Password</label>
                                <div class="control">
                                    <input id="fieldPassword" class="input" name="password" type="password">
                                </div>
                            </div>

                            <div class="buttons">
                                <button type="submit" class="button is-link">
                                    Log in
                                </button>
                            </div>

                            <span th:text="${message}"></span>
                            <span th:text="${error}"></span>

                            <a th:href="@{/register}">Create an account</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>