<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/default :: layout(~{::title}, ~{::main})"
>
<head>
    <title>Criar uma conta</title>
</head>
<body>
    <main class="content">
        <div class="container is-max-desktop">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Registrar
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <form th:action="@{/register}" method="post" th:object="${customerForm}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                            <div class="field">
                                <label for="fieldName" class="label">Nome</label>
                                <div class="control">
                                    <input id="fieldName" class="input" type="text" th:field="*{name}">
                                </div>
                            </div>

                            <div class="field">
                                <label for="fieldEmail" class="label">E-mail</label>
                                <div class="control">
                                    <input id="fieldEmail" class="input" type="text" th:field="*{email}">
                                </div>
                            </div>

                            <div class="field">
                                <label for="fieldCpf" class="label">CPF</label>
                                <div class="control">
                                    <input id="fieldCpf" class="input" type="text" th:field="*{cpf}">
                                </div>
                            </div>

                            <div class="field">
                                <label for="fieldPhone" class="label">Telefone</label>
                                <div class="control">
                                    <input id="fieldPhone" class="input" type="text" th:field="*{phone}">
                                </div>
                            </div>

                            <div class="field">
                                <label for="fieldPassword" class="label">Senha</label>
                                <div class="control">
                                    <input id="fieldPassword" class="input" type="password" th:field="*{password}">
                                </div>
                            </div>

                            <div class="field">
                                <label for="fieldPasswordConfirm" class="label">Confirmar senha</label>
                                <div class="control">
                                    <input id="fieldPasswordConfirm" class="input" type="password" th:field="*{passwordConfirm}">
                                </div>
                            </div>

                            <div class="buttons">
                                <button class="button is-link" type="submit">
                                    Registrar
                                </button>
                            </div>

                            <a th:href="@{/login}">Logar-se</a>

                            <ul th:if="${#fields.hasErrors('*')}">
                                <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
