<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="layouts/default :: layout(~{::title}, ~{::main})"
>
<head>
    <title>Loja de móveis</title>
</head>
<body>
    <main class="mx-4 mb-4">
        <!-- Menu lateral de seleção -->
        <aside class="menu is-hidden-mobile is-hidden-tablet-only" style="position: absolute;">
            <p class="menu-label">Modelos</p>
            <ul class="menu-list">
                <li>
                    <a th:href="@{|?model=|}">Todos</a>
                </li>
                <li th:each="model : ${models}">
                    <th:block th:switch="${#httpServletRequest.getParameter('model')}">
                        <th:block th:case="${model}">
                            <a class="is-active" th:text="${model}"></a>
                        </th:block>
                        <th:block th:case="*">
                            <a th:href="@{|?model=${model}|}" th:text="${model}"></a>
                        </th:block>
                    </th:block>
                </li>
            </ul>
            <p class="menu-label">Fabricantes</p>
            <ul class="menu-list">
                <li>
                    <a th:href="@{|?manufacturer=|}">Todos</a>
                </li>
                <li th:each="manufacturer : ${manufacturers}">
                    <th:block th:switch="${#httpServletRequest.getParameter('manufacturer')}">
                        <th:block th:case="${manufacturer}">
                            <a class="is-active" th:text="${manufacturer}"></a>
                        </th:block>
                        <th:block th:case="*">
                            <a th:href="@{|?manufacturer=${manufacturer}|}" th:text="${manufacturer}"></a>
                        </th:block>
                    </th:block>
                </li>
            </ul>
        </aside>
        <div class="container is-max-desktop">
            <!-- Titulo principal -->
            <div class="column columns is-mobile is-centered">
                <h1 class="title is-1" style="position: relative; bottom: .6em; z-index: 50;">
                    Loja de móveis
                </h1>
            </div>
            <!-- Formulário de filtro -->
            <div th:if="${!spec.getModel().isEmpty() || !spec.getManufacturer().isEmpty() || !spec.getName().isEmpty()}" class="mb-2">
                <form action="/shop" method="GET">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label for="fieldName" class="label">Nome</label>
                                <div class="control">
                                    <input id="fieldName" class="input" type="text" name="name" th:value="${spec.getName()}">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="fieldModel" class="label">Modelo</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="fieldModel" th:value="${spec.getModel()}" name="model">
                                            <option value="">Todos</option>
                                            <option
                                                th:each="model : ${models}"
                                                th:text="${model}"
                                                th:selected="${model eq spec.getModel()}"
                                            ></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label for="fieldManufacturer" class="label">Fabricante</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select id="fieldManufacturer" th:value="${spec.getManufacturer()}" name="manufacturer">
                                            <option value="">Todos</option>
                                            <option
                                                th:each="manufacturer : ${manufacturers}"
                                                th:text="${manufacturer}"
                                                th:selected="${manufacturer eq spec.getManufacturer()}"
                                            ></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-flex is-align-items-end">
                            <div class="buttons" style="width: 100%">
                                <button type="submit" class="button is-link is-fullwidth">
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Listagem de produtos -->
            <div th:switch="${page.getContent().isEmpty()}">
                <h2 th:case="true" class="mb-4">Ainda nenhum produto!</h2>
                <div
                    th:case="false"
                    class="column is-flex-tablet is-flex-wrap-wrap"
                >
                    <div
                        th:each="product : ${page.getContent()}"
                        class="column is-4"
                    >
                        <div class="card">
                            <div class="card-image">
                                <figure th:switch="${product.image.length()}" class="image is-square">
                                    <img th:case="0" src="https://bulma.io/images/placeholders/1280x960.png" alt="Imagem não encontrada">
                                    <img th:case="*" th:src="${product.image}" th:alt="${product.name}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title" th:text="${product.name}"></p>
                                <p class="subtitle is-6">
                                    <span>R$</span>
                                    <span th:text="${product.value}"></span>
                                    <br>
                                    <span th:text="${product.manufacturer}"></span>
                                    &#183;
                                    <span th:text="${product.model}"></span>
                                </p>
                            </div>
                            <footer class="card-footer">
                                <a th:href="@{/shop/product/{id}(id=${product.id})}" class="card-footer-item">Visualizar</a>
                                <div class="card-footer-item">
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <a aria-haspopup="true" th:aria-controls="|dropdown-comprar-${product.id}|">
                                                Comprar
                                            </a>
                                        </div>
                                        <div class="dropdown-menu" th:id="|dropdown-comprar-${product.id}|" role="menu">
                                            <form th:action="@{/shop/cart/add}" method="post">
                                                <input type="hidden" name="id" th:value="${product.id}">
                                                <div class="dropdown-content">
                                                    <div th:if="${session.cart != null && session.cart.has(product.id)}" class="dropdown-item">
                                                        <p>
                                                            <span>Este item já está em seu</span>
                                                            <a th:href="@{/shop/cart}">carrinho</a>
                                                            <span>!</span>
                                                        </p>
                                                        <p>
                                                            Quantidade: <span th:text="${session.cart.get(product.id).amount}"></span> unidade(s)
                                                        </p>
                                                    </div>
                                                    <div class="dropdown-item">
                                                        <div class="field has-addons">
                                                            <div class="control">
                                                                <input
                                                                    class="input"
                                                                    value="1"
                                                                    type="number"
                                                                    style="width: 5em"
                                                                    min="1"
                                                                    max="999"
                                                                    name="amount"
                                                                >
                                                            </div>
                                                            <div class="control">
                                                                <button type="submit" class="button is-link">Comprar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <!-- /card -->
                    </div>
                    <!-- /column -->
                </div>
                <nav th:replace="fragments/paging :: paginator"></nav>
            </div>
        </div>
    </main>
</body>
</html>
